.progressBar {
  border: 1px solid #fec260;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
}

.progressBar div {
  background-color: #fec260;
  height: 30px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  color: #112031;
  transition: 0.3s;
  margin-left: 10px;
}
