.fileDropper {
  border: 1px dashed #9d9d9d;
  height: 200px;
  background-color: #fefbf3;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.fileDropper input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  border: 0;
}

.fileDropper:hover {
  background-color: #9d9d9d;
  color: #ffffff;
  transition: 0.5s;
}

.imagePreview {
  width: 0%;
  opacity: 0;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  border: 3px solid #fec260;
}

.imagePreviewShow {
  width: 75%;
  opacity: 1;
  transition: 0.5s;
}
